.navbar{
  background-image: url("../images/payments-banner-graphic.png");
  background-size: cover;
  height:50%;
}
#start{
  padding-right: 10px;
  display: inline-flex;
  text-decoration: none;
}
#sign{
    display: inline-flex;
  width:300px;
   left:20%;
  color: white;
  text-decoration: none;
  padding: 20px;
}
#link1{
  vertical-align:text-bottom;
  left:18%;
  text-align: center;
}
#link2{
  left:18%;
  display: inline-flex;
  text-align: center;
}
#link3{
  left:18%;
  display: inline-flex;
  text-align: center;
}
#link4{
  left:20%;
  display: inline-flex;
  text-align: center;
}
#link5{
  left:20%;
  display: inline-flex;
  text-align: center;
}
#link6{
  left:20%;
  display: inline-flex;
  text-align: center;
}
#simple{
  color: grey;
  font-size: 40px;
}
#pay{
  color: grey;
  font-size: 40px;
}
#grey{
  background-color: grey;
  height:100px;
}
#gris{
  padding-top: 40px;
  color:white;
}
#colonne1{
  background-color: cyan;
}
#colonne2{
  text-align: left;
  color: grey;
  font-size:20px;
   margin-top: 20%;
   left:20px;
}
#colonne3{
  text-align: left;
  color: grey;
  font-size:20px;
  left:40px;
   margin-top: 20%;
}
#colonne4{
  background-color: purple;
  text-align: left;
  color: grey;
  font-size:20px;
}
#colonne5{
  background-color: cyan;
  text-align: left;
  color: grey;
  font-size:20px;
}
#colonne6{
  text-align: left;
  color: grey;
  left:50px;
  font-size:20px;
   margin-top: 20%;
}
#titrecol{
  font-size:30px;
}
#titrecol1{
  font-size:30px;
}
#titrecol2{
  font-size:30px;
}
#graphic{
  border-radius: 5%;
  width:100%;
  height:100%;
}
#graphic2{
    border-radius: 5%;
  width:100%;
  height:100%;
}
#graphic3{
    border-radius: 5%;
  width:100%;
  height:100%;
}
#dollars{
  font-size: 50px;
  color:grey;
  top: 20px;
}
#per{
  font-size: 30px;
  color:solid grey;
}
#calendar{
  width:200px;
  height:200px;
}
#mail{
  width:200px;
  height:200px;
}
#secure{
  width:200px;
  height:200px;
}
#login{
  color: white;
  text-decoration: none;
  padding: 20px;
}
#login1{
  color: white;
  text-decoration: none;
  padding: 20px;
}
#account{
  margin-top: 100px;
  left:10%;
  color: white;
}
#free{
  width:200px;
}
#bonsai{
  color: white;
  font-size: 30px;
  margin-top: 30px;
}
#brand{
  width:100px;
  height:100px;
}
#ready{
    margin-top: 50px;
    margin-bottom: 50px;
  color: grey;
  font-size: 20px;
  text-align: center;
}
#create{
  margin-top: 20px;
  background-color: green;
  color:white;
}
#footer{
  height: 300px;
  margin-top: 30px;
  background-color: #242629;
}
#product{
  color: grey;
  left:20%;
  list-style: none;
}
a{
  color: grey;
}
#title1{
  margin-top: 30px;
  color: grey;
  font-size: 20px;
}
#title2{
  margin-top: 30px;
  color: grey;
  font-size: 20px;
}
#title3{
  margin-top: 30px;
  color: grey;
  font-size: 20px;
}
#contact{
  color: grey;
  list-style: none;
}
#company{
  color: grey;
  left:10%;
  list-style: none;
}
#end{
  color: grey;
  right:20%;
  left:20%;
  margin-top: 20px;
  display: inline-flex;
  text-align: center;
}
#badge{
  width:150px;
  height:50px;
}
